.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "experiment trace plot";
  grid-template-columns: auto auto 1fr ;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  height: 52px;
}

.trace {
  grid-area: trace;
  max-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  height: 100%;
}


.experiment {
  grid-area: experiment;
  max-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100px;
}


.trace {
  grid-area: trace;
  max-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100px;
}


.plot {
  grid-area: plot;
  max-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100px;
}

