[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cython = "*"

[packages]
mlboard = {editable = true,extras = ["dev"],path = "."}

[requires]
python_version = "3.7"

[scripts]
api = "uvicorn api:app --host 0.0.0.0 --port 5000"
stress_test = "python stress_test.py"
test = "pytest"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
