.layout {
  display: grid;
  padding: 0.5em;
  grid-template-areas:
    "content value";
  grid-template-columns: 1fr auto;
}

.content {
  grid-area: content;
  cursor:pointer;
}

.value {
  grid-area: value;
}

