.layout {
  display: grid;
  padding: 0.5em;
  grid-template-areas:
    "title"
    "plot";
  grid-template-columns: 100%;
}

.plot {
  grid-area: plot;
  height: 200px;
}

.title {
  grid-area: title;
}
