.layout {
  display: grid;
  grid-template-areas:
    "header"
    "search"
    "content";
  grid-template-rows: auto auto 1fr;
}

.header {
  grid-area: header;
  height: 52px;
}

.search {
  grid-area: search;
  height: 52px;
}

.content {
  grid-area: content;
}

