.layout {
  display: grid;
  grid-template-areas:
    "header sort"
    "search search"
    "content content";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr auto;
}

.header {
  grid-area: header;
  height: 52px;
}

.search {
  grid-area: search;
  height: 52px;
}

.sort {
  margin:0.5em;
  grid-area: sort;
}

.content {
  grid-area: content;
  overflow-y: scroll;
}

