@import "~@/styles/theme.scss";

.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav bar content";
  grid-template-columns: auto auto 1fr ;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: nav;
  overflow: auto;
}

.main {
  grid-area: content;
  overflow: auto;
}

.dragbar {
  grid-area: bar;
  padding: 3px;
  cursor: col-resize;
  background-color: silver;
}
