@import "@/styles/theme.scss";
/* The switch - the box around the slider */
.container {
    position: relative;
    width: 75px;
    height: 42px;
    margin: auto;
}

/* Hide default HTML checkbox */
.input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

/* The slider */
.circle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


