.layout {
  display: grid;
  padding: 0.5em;
  grid-template-areas:
    "content score date action";
  grid-template-columns: 2fr auto 1fr auto;
}

.content {
  grid-area: content;
  min-height: 2em;
  cursor:pointer;
}

.action {
  grid-area: action;
  cursor:pointer;
}

.score {
  grid-area: score;
  padding:0.2em;
  cursor:pointer;
  text-align: center;
}

.date {
  grid-area: date;
  padding:0.2em;
  cursor:pointer;
  text-align: center;
}
