.layout {
  display: grid;
  padding: 0.5em;
  grid-template-areas:
    "content action"
    "date action";
  grid-template-columns: 1fr auto;
}

.content {
  grid-area: content;
  min-height: 2em;
}

.action {
  grid-area: action;
}

.date {
  grid-area: date;
}
